.tier :first-child {
  margin-top: 0;
}

.tier :last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 760px) {

  .OLSKClub {
    min-width: 400px; 
  }

}

.OLSKDecor {
  padding: unset;
}

.OLSKClub .clubHeading {
  display: none;
}

.clubHeading {
  display: flex;
  align-items: center;
}

.clubIcon {
  max-width: 42px;
  margin-right: 10px;
}

.tier {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 10px;

  margin: 10px 0;
}

.tierName {
  font-size: 200%;
  margin: 0;
}

.tier button {
  padding: 10px;
  background: #ddd;
  background: var(--ghost-accent-color);
  color:  white;
  font-family: "Helvetica Neue";
  font-weight: bold;
}

.OLSKDecorPressCallInverted {
  background: var(--ghost-accent-color) !important;

}

.choiceEdit {
  text-decoration: underline;
}

@media screen and (max-width: 760px) {

  .modal__container {
    width: 90%;
  }

}
