<%
locals.OLSKPageAssets = [
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKClubReceiverDispatchGrant</strong>
	<span id="TestOLSKClubReceiverDispatchGrant">0</span>
	<span id="TestOLSKClubReceiverDispatchGrantData">0</span>
</p>
