<%
locals.OLSKPageAssets = [
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKMembershipReceiverDispatchSubmit</strong>
	<span id="TestOLSKMembershipReceiverDispatchSubmit">0</span>
	<span id="TestOLSKMembershipReceiverDispatchSubmitData">0</span>
</p>
